<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Products List</h1>

    <form action="{% url 'products_index' %}" method="get">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="{{ filter.name }}">
    </div>
    <div class="form-group">
      <label for="barcode">Barcode:</label>
      <input type="text" name="barcode" id="barcode" value="{{ filter.barcode }}">
    </div>

    <input type="submit" value="Filter">
    </form>

    {% if product_list %}
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Barcode</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for product in product_list %}
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td><img src="/media/{{ product.barcode_image }}" alt="{{ product.barcode }}"></td>
              <td><a href="{% url 'products_detail' product.id %}">Edit</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No products are available.</p>
    {% endif %}

  </body>
</html>
